@import url(form/form.css);

* {
	box-sizing: border-box;
}

body {
	background-color: purple;
	height: 100vh;
	background-image: url('https://images.unsplash.com/photo-1605957073056-34ea7e8dafea?q=80&w=1374&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	display: flex;
	justify-content: center;
	align-items: center;
}
