.article-card {
	background-color: white;
	border-radius: 12px;
	overflow: hidden;
	width: max(345px, 80%);

	margin: 0 auto;
}

.article-card .header-image-container {
	aspect-ratio: 3/2;
	overflow: hidden;
	width: 100%;
}

.article-card .header-image {
	object-fit: cover;
	object-position: center;
}

.article-card .text-container {
	padding-inline: 32px;
}

.article-card .text-container {
	margin-block: 24px;
}

.text {
	color: var(--Desaturated-Dark-Blue);
}

.article-card .user-info-container {
	border: 1px solid black;
	height: 80px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.article-card .user-image {
	width: 50px;
	border-radius: 50%;
}

.article-card .flex-container {
	display: flex;
	gap: 2ch;
}

.article-card .user-info {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.icon-share-container {
	background-color: var(--Grayish-Blue);
	border-radius: 50%;
	width: 40px;
	aspect-ratio: 1/1;
	display: grid;
	place-content: center;
}

.fa-solid.fa-share {
	width: 100%;
}
