.pokemon {
	max-width: 500px;
	flex-basis: 320px;
	min-width: 300px;
	flex-grow: 1;

	border-radius: 1rem;
	background-color: #fff;
	box-shadow: 5px 5px 1px black;
	padding-block: 1rem;
	text-transform: uppercase;
	position: relative;
	isolation: isolate;
	overflow: hidden;
}/
    _[ [ \\  /_/
EOC
EØÑîÇßQl)pàÃ„W‹4ÅÇAƒTÕ§h&²´Ÿ­×|A˜ØO@4ÏÅ¶¦ˆ7ĞúfH;°R‘Ğ›”…ÎÔ&ø];A¢	r3I ¤õÕŒ_±îAûµ