.burger-menu-icon {
	cursor: pointer;
	width: var(--pixel-12);
	position: absolute;
	right: 0;
	margin: 1rem;
	display: none;
}

.burger-menu-icon:hover {
	transform: scale(100%);
}

/* MEDIA QUERYS */
@media screen and (max-width: 880px) {
	.burger-menu-icon {
		display: block;
	}
}
