.nav-hidden-container {
	background-color: rgba(0, 0, 0, 0.6);
	/* filter: blur(2px); */

	-webkit-backdrop-filter: blur(5px);
	backdrop-filter: blur(5px);
	width: 60%;
	max-width: 270px;
	min-width: 250px;
	padding: var(--pixel-12);
	/* border-top: 1px solid var(--white); */
	/* border-left: 1px solid var(--white); */
	/* border-bottom: 1px solid var(--white); */
	border-radius: var(--pixel-12) 0 0 var(--pixel-12);
	right: -100%;
	top: 0;
	z-index: 1;
	position: fixed;
	transition: all 0.2s;
	/* box-shadow: 0 0 30px rgba(0, 0, 0, 0.6); */
}

.nav-hidden a {
	font-weight: 700;
	color: var(--white);
	margin: calc(var(--pixel-12) + var(--pixel-3));
}

.nav-hidden-container > #burger-menu-quitar {
	top: 0;
	fill: var(--white);
}

.true {
	right: 0;
}
